$primary: #456990;
$primary-dark: #3f6083;

$secondary: #ef767a;
$secondary-dark: #da6c6f;

$tertiary: #eeb868;
$tertiary-dark: #d9a85f;

$accent-light: #49dcb1;
$accent: #43c8a1;
$accent-dark: #49beaa;