@import './styles/typography.scss';

body {
    background-color: #f8f8f8;
    font-family: "Helvetica Neue", typewriter;
    margin: 0;
}

.App-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.App-logo {
    height: 50px;
    width: 50px;
    margin: 0 1em;
}

.App-body {
    padding: 1em;
}