@import "./styles/typography.scss";

body {
  background-color: #f8f8f8;
  font-family: "Helvetica Neue", typewriter;
  margin: 0;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1em;
  justify-content: space-between;

  .App-header-logo {
    display: flex;
    align-items: center;
  }

  .App-header-user {
    color: grey;
    margin: 0 1em;
    display: flex;
    align-items: center;

    a {
      margin-left: 2em;
      cursor: pointer;
    }

    img {
      height: 1em;
      margin: 0 0.2em;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 700px) {
  .App-header {
    flex-direction: column;
    margin: 1em 0;
  }
}

.App-logo {
  height: 50px;
  width: 50px;
  margin: 0 1em;
  transition: all 0.5s ease-in-out 0s;
}

.App-logo:hover {
  transform: rotate(360deg);
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.App-body {
  padding: 1em;

  .stock-list {
    display: flex;
    flex-wrap: wrap;
  }
}
