.setup-form {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .setup-input {
    width: 90%;
    height: 25px;

    border: 1px solid lightgrey;
    border-radius: 4px;

    box-shadow: 1px 1px 5px 1px rgba(211, 211, 211, 0.616);
  }

  .submit-button {
    min-width: 150px;
    margin: 0 1em;
    border-radius: 4px;
    border: none;
    background-color: #49dcb1;
    color: white;
    box-shadow: 0px 2px 5px 0px grey;
  }
}

#new-stock {
  outline: none;
}
